@import './colors.import'

.actionBar
  text-align: right
  position: relative
  top: -20px
  margin-bottom: -20px

  .actionStart
    margin-right: 30px
    cursor: pointer

  .actionArea
    background-color: white
    padding: 20px 0
    margin: 20px 0
    text-align: left
    padding-right: 22px

    display: flex
    flex-direction: row

    .title
      text-decoration: underline

  .selectors
    display: flex
    width: 100%

  .playerSelector
    flex: 6

  .categorySelector
    flex: 4

  .confirmationSelector
    flex: 1
    display: flex
    flex-direction: column

    button
      flex: 1

  ul.players, ul.categories
    display: flex
    flex-wrap: wrap
    margin-left: 20px
    //border-left: 1px solid mid-grey

    li:hover
      color: brand-color-lighter

      i
        background-color: brand-color-lighter
        color: white
        border-color: brand-color-lighter

    li.active.red, li.red:hover
      color: brand-color-red
      text-decoration: underline

      i
        background-color: brand-color-red
        color: white
        border-color: brand-color-red

    li.active.green, li.green:hover
      color: brand-color-lighter
      text-decoration: underline

      i
        background-color: brand-color-lighter
        color: white
        border-color: brand-color-lighter

    span.active
      color: brand-color-lighter
      text-decoration: underline

    li
      flex: 0 0 8em
      align-self: center
      margin: 0
      padding: 0
      min-height: 32px
      cursor: pointer

      img, i
        width: 25px
        margin: 3px 5px 3px 0
