@import './colors.import'
.logo
  font-size: 25px
  border: 1px solid
  border-radius: 5px
  text-align: center
  border-color: #fff
  background-color: #fff
  width: 184px
  display: block
  text-align: center
  padding: 26px 20px 20px 27px
  margin: 5px
  height: 73px

  i, span
    color: brand-base
