@import './colors.import'
.logo
  font-size: 40px
  border: 1px solid
  border-radius 5px
  padding: 36px 15px 15px 15px
  text-align: center
  border-color: white
  background-color: white
  width: 250px
  display: block

  i, span
    color: brand-color
