//brand-color = #402940

brand-color = #444
brand-text = white
store-blue = #A5E3FF

border-color = rgba(0,0,0,0.4)
shadow = rgba(0,0,0,0.2)

light-grey = #ececec
lighter-grey = #efefef

sidebar-color = lighter-grey
content-color = light-grey
content-player = white
