brand-color = #402940
brand-color-light = #742D96
brand-color-lighter = rgba(115,45,150,0.6)
accent-color = #444
brand-base = #222

brand-text = white
store-blue = #A5E3FF

border-color = rgba(0,0,0,0.4)
shadow = rgba(0,0,0,0.2)

light-grey = #f3f3f3
lighter-grey = #eee

sidebar-color = lighter-grey
content-color = light-grey
content-player = white

mid-grey = #999
