brand-color = #5FCEC0
brand-color-light = rgba(69, 150, 140, 1)
brand-color-lighter = rgba(69, 150, 140, 0.7)
accent-color = rgb(68, 68, 68, 0.6)
brand-base = #222

brand-text = white
store-blue = #5FCEC0

border-color = rgba(0,0,0,0.4)
shadow = rgba(0,0,0,0.2)

light-grey = #f3f3f3
lighter-grey = #eee

sidebar-color = lighter-grey
content-color = light-grey
content-player = white

mid-grey = #999
