@import './colors.import'
body, h1, h2, h3, h4
  font-family: 'Source Sans Pro', 'Helvetica Neue'

.l-container, .l-body
  background-color: content-color

.l-sidebar
  background-color: sidebar-color

.handwritten
  font-family: 'Gloria Hallelujah','Lato'

.l-container, .l-body
  display: flex
  flex-direction: column

.l-header
  width: 100vw
  z-index: 2

.l-content
  flex: 1
  box-shadow: 0px 0px 1px 1px shadow;
  margin-right: 0;
  z-index: 1;
  margin-right: 5px

.l-sidebar
  display: none

//.l-sidebar-shown
//.l-sidebar-control

.l-body
  width: 100vw

@media (min-width: 875px)
  .l-body
    flex-direction: row
    flex: 1

  .l-sidebar
    flex: 0 0 20em
    display: block

  .l-sidebar-control
    display: none
