body, h1, h2, h3, h4
  font-family: 'Source Sans Pro', 'Helvetica Neue'

.handwritten
  font-family: 'Gloria Hallelujah','Lato'

.l-container, .l-body
  display: flex
  flex-direction: column
  background-color: white

.l-header
  width: 100vw

.l-content
  flex: 1
  box-shadow:  2px 0px 0px 0px shadow
  margin-right: 2px

.l-sidebar
  display: none

//.l-sidebar-shown
//.l-sidebar-control

.l-body
  width: 100vw


@media (min-width: 875px)
  .l-body
    flex-direction: row
    flex: 1

  .l-sidebar
    flex: 0 0 20em
    display: block
    background-color: light-grey

  .l-sidebar-control
    display: none
