@import './colors.import'

.scoreBoard
  color: brand-base
  .title
    margin: 20px 20px 0 20px
    width: 250px;
    //display: inline;
    //float: left;

  //TODO: responsive table
  ul
    width: 100%
    margin: 0
    padding: 0

    li
      display: flex
      flex-flow: row wrap
      align-items: center

      background-color: content-player
      margin: 15px 0
      width: 100%
      min-height: 85px
      padding-left: 14px
      padding-right: 15px

    .player
      flex: 1

      .avatar
        width: 65px
        float: left
        margin: 10px

      .name
        float:left
        margin-top: 35px

    .score
      flex: 0 1 5em

      display: inline-block
      text-align: center

      .value
        font-size: 25px

      .symbol
        padding: 0
        margin: 0
        font-size: 15px
        color: accent-color

    .score.note
      color: mid-grey

      .symbol
        color: mid-grey

    .score:last-child
      color: brand-color-light

      .symbol
        color: brand-color-light
