@import './colors.import'

.score
  color: brand-color
  margin: 20px

  table
    width: 100%

    td, th
      border-right: 1px solid light-grey
      padding: 0 20px
      text-align: left

    thead, tr
      border-bottom: 1px solid light-grey

    td:last-child, th:last-child
      border-right: none
